/results/
/exp/cmake-build-debug/
/exp/data/acm.cpp
/exp/data/acm.exe
/exp/data/orkut.txt
/exp/data/orkut.zip
/exp/data/soc-LiveJournal.txt
/exp/data/soc-pokec.txt
/exp/data/twitch.txt
/exp/output/
.idea/
/exp/data/tw.txt
/exp/data/friendster.zip
/exp/data/tw.txt.zip
/exp/data/data.zip
/exp/data/orkut.ap
/exp/data/soc-LiveJournal.ap
/exp/data/tw.ap
/exp/data/twitch.ap
/exp/data/twitch.zip
/exp/data/ap/
/exp/src_backup.zip